// переопределение переменных
$--color-primary: #2753eb;
$--color-success-lighter: #43d39d;
$--color-success-light: #43d39d;
$--color-success: #43d39d;

$--input-border-radius: 40px;

$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import "~element-plus/packages/theme-chalk/src/index";
@import "./elements/table.scss";
@import "./elements/sideMenu.scss";

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-comntainer {
  border: 1px solid #eee;
  background-color: rgb(238, 241, 246);
  height: 100%;
}

.semi-bold-header {
  font-size: 22px;
  font-weight: 600;
}

#app {
  height: 100%;
}