// переопределение переменных
$--color-primary: #2753eb;
$--color-success-lighter: #43d39d;
$--color-success-light: #43d39d;
$--color-success: #43d39d;


$--border-radius-small: 50%;
$--checkbox-border-radius: 50%;

$--input-border-radius: 40px;

$--font-path: '~element-plus/lib/theme-chalk/fonts';
@import "~element-plus/packages/theme-chalk/src/index";
@import "./elements/table.scss";
@import "./elements/sideMenu.scss";

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.main-comntainer {
  border: 1px solid #eee;
  background-color: rgb(238, 241, 246);
  height: 100%;
}

.semi-bold-header {
  font-size: 22px;
  font-weight: 600;
}

.page-container {
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
}

.collapseHeader {
  padding-left: 10px;
}

.form-under-collapse {
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
}